.quan-ly-chuyen-tau{
    .quan-ly-chuyen-tau-danh-sach{
        font-size: 15px;
        td{
            vertical-align: middle;
        }
        .qlct-thong-tin-chuyen{
            p{
                margin: 0;
            }
        }
    }
}