<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div ng-app="quan-ly-ga">
        <div class="quan-ly-ga">
            <h2>Danh sách ga</h2>
            <hr />
            <div class="m-3">
                <span>Lọc ga theo Tỉnh/Thành phố: </span>
                <select ng-model="tinhSelected" ng-init="tinhSelected='0'" ng-change="onChangeTinhThanhPho()">
                    <option value="0">Tỉnh / Thành phố</option>
                    <option ng-repeat="tinh in danhSachTinhTP" ng-selected="tinhSelected == tinh.MaTinhThanhPho"
                        value="{{tinh.MaTinhThanhPho}}" track by $index>
                        {{tinh.TenTinhThanhPho}}
                    </option>
                </select>
                <button class="btn btn-primary" ng-click="themGa()">Thêm ga</button>
            </div>
            <div>
                <table class="table">
                    <thead class="bg-dark text-white">
                        <tr>
                            <td>Ga</td>
                            <td>Tỉnh/Thànhphố</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="isThemGa">
                            <td class="w-50">
                                <div>
                                    <input type="text" ng-model="tenGaMoi" class="form-control"
                                        ng-change="onChangeThemGaMoi()" />
                                    <span class="text-danger" ng-show="isError">{{errorMessage}}</span>
                                </div>
                            </td>
                            <td>
                                <select ng-model="newTinhSelected" class="form-control" ng-change="onChangeNewTinhThanhPho()">
                                    <option ng-repeat="tinh in newDanhSachTinhTP" ng-selected="newTinhSelected == tinh.MaTinhThanhPho"
                                        value="{{tinh.MaTinhThanhPho}}">
                                        {{tinh.TenTinhThanhPho}}
                                    </option>
                                </select>
                            </td>
                            <td style="text-align: right;">
                                <button class="btn btn-success" ng-click="onThemGa()"
                                    ng-disabled="isError">Thêm</button>
                                <button class="btn btn-danger" ng-click="onHuyGa()">Hủy</button>
                            </td>
                        </tr>
                        <tr ng-repeat="ga in danhSachGa | orderBy: 'TenGa'" track by $index>
                           <div ng-show="danhSachGaEdit.indexOf(ga.MaGa) == -1">
                                <td ng-show="danhSachGaEdit.indexOf(ga.MaGa) == -1">{{ga.TenGa}}</td>
                                <td ng-show="danhSachGaEdit.indexOf(ga.MaGa) == -1">{{ga.TenThanhPhoTinh}}</td>
                                <td ng-show="danhSachGaEdit.indexOf(ga.MaGa) == -1" style="text-align: right;">
                                    <button class="btn btn-primary" ng-click="editGa(ga)">Sửa</button>
                                    <button class="btn btn-danger">Xóa</button>
                                </td>
                            </div>
                            
                            <td ng-show="danhSachGaEdit.indexOf(ga.MaGa) !== -1">
                                <input type="text" class="form-control" ng-model="tenGaEdit" ng-change="onChangeEditTenGa(tenGaEdit)"/>
                                <span class="text-danger" ng-show="!tenGaEdit">Vui lòng không để trống</span>
                            </td>
                            <td ng-show="danhSachGaEdit.indexOf(ga.MaGa) !== -1">
                                <select ng-model="editTinhSelected" class="form-control" ng-change="onChangeEditTinhThanhPho(editTinhSelected)">
                                    <option ng-repeat="tinh in editDanhSachTinhTP" ng-selected="editTinhSelected == tinh.MaTinhThanhPho"
                                        value="{{tinh.MaTinhThanhPho}}">
                                        {{tinh.TenTinhThanhPho}}
                                    </option>
                                </select>
                            </td>
                            <td ng-show="danhSachGaEdit.indexOf(ga.MaGa) !== -1" style="text-align: right;">
                                <button class="btn btn-primary" ng-disabled="!tenGaEdit" ng-click="onLuuGa(ga)">Lưu</button>
                                <button class="btn btn-danger" ng-click="onHuyGaEdit(ga)">Hủy</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>