<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản trị</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="quan-tri.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body class="admin">
    <div ng-app="quanTriApp" ng-controller="quanTriCrtl" class="container">
        <div class="admin-dangnhap">
            <h3 class="text-center mb-3">Đăng nhập</h3>
            <div class="input-group">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="taiKhoan" ng-change="checkEmpty()"
                        placeholder="Tên đăng nhập" />
                </div>
                <div class="input-group mt-2">
                    <input type="password" class="form-control" ng-model="matKhau" ng-change="checkEmpty()"
                        placeholder="Mật khẩu" />
                </div>
                <div class="d-flex justify-content-between w-100">
                    <button class="btn btn-success mt-2" ng-click="btnDangNhap()" ng-disabled="isEmpty">Đăng
                        nhập</button>
                    <p ng-show="isError" class="text-danger">Vui lòng không để trống</p>
                    <p ng-show="isSignIn" class="text-danger">{{message}}</p>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

<script>
    var app = angular.module('quanTriApp', []);
    app.controller('quanTriCrtl', function ($scope, $http) {

        $scope.isError = false;
        $scope.isEmpty = true;
        $scope.isSignIn = false;
        //Sign in
        $scope.btnDangNhap = function () {
            var data = {
                "TaiKhoan": $scope.taiKhoan,
                "MatKhau": $scope.matKhau
            }
            $http.post("https://localhost:44305/api/nhanvien/dangnhap", data).then(function (response) {
                console.log(response.data)
                if (!response.data?.Status) {
                    $scope.isSignIn = true;
                    $scope.message = response.data.Message;
                }
            });
            // $http.get("https://localhost:44305/api/test").then(function (response) {
            //     console.log(response);
            // });
        }

        //Check Empty
        $scope.checkEmpty = function () {
            $scope.isSignIn = false;
            if (!$scope.taiKhoan || !$scope.matKhau) {
                $scope.isError = true;
                $scope.isEmpty = true;
            }
            else {
                $scope.isError = false;
                $scope.isEmpty = false;
            }
        }
    })
</script>

</html>