* {
    box-sizing: border-box;
}
.trang-quan-tri {
    background-color: #fafafa;
    .quan-tri-menu {
        height: 800px;
        background-color: #233242;
        .quan-tri-menu-item {
            background-color: #233242;
            color: #6a7a8c;
            .quan-tri-menu-item-title {
                font-size: 23px;
                margin-left: 5px;
            }
            a {
                margin-left: 5px;
                color: #6a7a8c;
                transition: all 0.7s;
                &:hover {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    .trang-quan-tri-dashboard {
        display: flex;
        justify-content: center;
        align-items: center;
        .trang-quan-tri-dashboard-item {
            width: 25%;
            padding: 20px;
            margin: 10px;
            background-color: white;
            // display: flex;
            // align-items: center;
            // justify-content: space-around;
            i {
                font-size: 18px;
                padding: 26px;
                color: white;
                border-radius: 50%;
            }
            .trang-quan-tri-dashboard-item-text{
                padding: 10px 30px;
                span{
                    font-weight: bold;
                }
            }
        }
        .trang-quan-tri-dashboard-item1 {
            i{
                background: #7547ff;
            }
        }
        .trang-quan-tri-dashboard-item2 {
            i{
                background: #ff2667;
            }
        }
        .trang-quan-tri-dashboard-item3 {
            i{
                background: #3693fd;
            }
        }
        .trang-quan-tri-dashboard-item4 {
            i{
                background: #25c73a;
            }
        }
    }
    .trang-quan-tri-tai-khoan{
        text-align: right;
        .trang-quan-tri-tai-khoan-sign-out{
            cursor: pointer;
            transition: all .3s;
            color: #5f8ef7;
            &:hover{
                color: #0b3ca7;
            }
        }
    }
}
