.thong-ke {
    .thong-ke-item {
        position: relative;
        .thong-ke-item-cot {
            position: absolute;
            width: 25px;
            left: -6px;
            bottom: 20px;
            background: #0ea7f1;
        }

        .thong-ke-item-doanh-thu{
            position: absolute;
            left: -25px;
            bottom: 20px;
        }
    }
}
